# Database Configuration
DATABASE_URI=mongodb://localhost:27017/databasename

# Security Keys
JWT_SECRET_KEY=SOME_SECRET_KEY
SESSION_SECRET=SOME_SECRET_KEY
HCAPTCHA_SECRET_KEY=ES_259e...
ADMIN_PASSWORD=123456

# Domain Configuration
FRONTEND_DOMAIN=http://localhost:5173 # Used for email templates and sessions and cors
BACKEND_DOMAIN=http://localhost:8000 # Used for google redirect in passport

# Google Configuration
GOOGLE_CLIENT_ID=1234567890-abcdefghijklmnopqrstuvwxyz.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=MY_SECRET
# Callback uses the backend domain to redirect to the correct server

# Email Configuration
EMAIL_HOST=mail.example.com
EMAIL_PORT=465
EMAIL_USER=no-reply@example.com
EMAIL_PASS=your_migadu_password
